:root {
  --primary-color: #6a00fd;
  --secondary-color: #ac7ffd;
  --black: #000000;
  --white: #FFFFFF;
  --max-width: 1440px;
}
@font-face {
  font-family: "Gradual";
  src: url('../public/assets/fonts/Branding-with-Type-Bw-Gradual-Bold.otf') format('opentype');
}
@font-face {
  font-family: "Karla light";
  src: url('../public/assets/fonts/Karla-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Karla Medium";
  src: url('../public/assets/fonts/Karla-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Karla Variable";
  src: url('../public/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Karla Italic";
  src: url('../public/assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.text {
  font-family: 'Karla Variable';
  font-size: 24px;
  color: #000;
  opacity: 0.7;
}

.h5 {
  position: relative;
  margin-bottom: 30px;
  font-family: "Gradual";
  font-size: 30px;
  color: var(--primary-color);
}